*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-size: large;
    width: 100%;
    height: 100vh;
    color: rgb(11, 11, 11);
}
.box{
  display: grid;
    /* Desktop: 3 Columns */
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}
.paragraph{
    width: 50%;
    height: 50%;
    text-align: center;
}
.paragraph1 {
    width: 74%;
  height: 49%;
  text-align: center;
  margin-top: -90px;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 56px;
    margin-left: 46px;
    margin-top: 13px;
    margin-bottom: 14px;
    border: 0.6px solid black;
    border-radius: 10px;
    padding: 0px;
    background-color: antiquewhite;
    width: 272px;
    height: 200px;
    margin-top: 41px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
.heading{
    text-align: center;
    margin-top: 6px;
    margin-bottom: 87px;
}
i{
    font-size: 65px;
}
.box1:hover {
    transform: translateY(-10px);
    /* Intensified box-shadow */
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-color: #4361ee;
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 56px;
    margin-left: 56px;
    margin-top: 13px;
    margin-bottom: 14px;
    border: 0.6px solid black;
    border-radius: 10px;
    padding: 0px;
    background-color: rgb(16, 16, 15);
    width: 272px;
    height: 200px;
    margin-top: 41px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
}
.paragraph {
  width: 82%;
  height: 50%;
    text-align: center;}
.box2:hover {
    transform: translateY(-10px);
    /* Intensified box-shadow */
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-color: #4361ee;
}
.box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 712px;
    margin-left: 59px;
    border: 0.6px solid black;
    border-radius: 10px;
    padding: 0px;
    background-color: antiquewhite;
    width: 272px;
    height: 200px;
    margin-top: 41px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
.box3:hover {
    transform: translateY(-10px);
    /* Intensified box-shadow */
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-color: #4361ee;
}

