*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}
main{
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}
h1{
    margin: 8px;
}
.paragraph{
    margin: 30px;
}
input{
    padding: 10px;
    width: 100%;
    border: 1px solid #dcbaba;
    border-radius: 4px;
    background-color: rgb(223, 228, 232);
    padding: 15px 12px;
    font-weight: 500;
}
label{
    display: flow-root list-item;
    margin-bottom: 5px;
    font-weight: 600;
}
.name, .email, .departments, .bio{
    margin-bottom: 8px;
}
.dep{
    padding: 15px 12px;
    width: 100%;
}
.checkbox-item{
    width: 100%;
}
.checkbox-item label{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}
.checkbox-item input{
    margin-right: 10px;
}
textarea{
     padding: 10px;
    width: 100%;
    border: 1px solid #dcbaba;
    border-radius: 4px;
    background-color: rgb(223, 228, 232);
    padding: 15px 12px;
    font-weight: 500;
    height: 105px;
}
button{
   background-color: rgb(255, 255, 255);
   width: 100%;
   border: 2px solid rgb(21, 21, 23);
   border-radius: 2px;
   display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(21, 21, 23);
    color: white;
    transition: all 0.3s ease;
}
input :hover{
    background-color: rgb(116, 139, 209);
    
}

